<h1 style="color:#{{color}}">BIENVENIDO TA {{name}}</h1>

<form action="/getmyta" method="POST">
  <h2>User</h2>
  <input type="text" name="ta">
  <h2>Password</h2>
  <input type="password" name="demo" >
  <button type="submit">Encuentra a mi TA</button>
</form>